:root {
      --bg: #0f172a;
      --card: #020617;
      --primary: #38bdf8;
      --text: #e5e7eb;
      --muted: #94a3b8;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    a {
      text-decoration: none;
      color: var(--primary);
      text-align: center;
    }

    body {
      background: linear-gradient(135deg, #020617, #0f172a);
      color: var(--text);
      line-height: 1.6;
    }

    header {
      padding: 3rem 1rem;
      text-align: center;
    }

    header h1 {
      font-size: 2.5rem;
      color: var(--primary);
    }

    header p {
      color: var(--muted);
      max-width: 600px;
      margin: 1rem auto 0;
    }

    section {
      max-width: 1000px;
      margin: 3rem auto;
      padding: 0 1rem;
    }

    h2 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      border-left: 5px solid var(--primary);
      padding-left: 1rem;
    }

    .card {
      background: rgba(2, 6, 23, 0.85);
      border-radius: 12px;
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1.5rem;
    }

    .skill {
      background: rgba(15, 23, 42, 0.8);
      padding: 1rem;
      border-radius: 10px;
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    .skill:hover {
      transform: translateY(-5px);
      /* box-shadow: 0 10px 20px rgba(56, 189, 248, 0.2); */
      box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
    }

    .skill h3 {
      color: var(--primary);
      margin-bottom: 0.5rem;
    }

    .icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

  .tech-icon {
  width: 40px;
  height: 40px;
}

    ul {
      list-style: none;
    }

    ul li {
      margin-bottom: 0.5rem;
      color: var(--muted);
    }

    footer {
      text-align: center;
      padding: 2rem 1rem;
      color: var(--muted);
      border-top: 1px solid rgba(148, 163, 184, 0.2);
    }

    @media (max-width: 600px) {
      header h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.6rem;
      }
    }